.app-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}


.resform{
  width: 800px;
}

.general{
  background-color: white;
}

/* PERSON/General info/dropdown */
.persondropdown{
  background-color: rgba(28, 70, 70, 0.493);
  color: white;
  width: 500px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}
.fillOut{
  margin-left: 25px;
  background-color: rgba(0, 0, 0, 0.342);
  color: white;
}

/* PERSON RESUME SIDE */
.person{
  text-align: center;
}

.col1{
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3px solid green;
 
}





